pytest==7.4.3
torch>=2.1.0              # PyTorch con soporte CUDA
torchvision>=0.16.0       # Librería para transformaciones y modelos preentrenados
numpy==1.24.3
matplotlib==3.7.1
opencv-python==4.7.0.72
plantcv==4.6
pillow==9.5.0
scikit-learn==1.2.2
scipy==1.10.1


#pip install torch==2.1.0+cu121 torchvision==0.16.0+cu121 --index-url https://download.pytorch.org/whl/cu121 --timeout 1000 --retries 10